.p-contact {
	table {
		width: 100%;
		tr {
			th,
			td {
				width: 100%;
				display: block;
				font-weight: normal;
				text-align: left;
				vertical-align: middle;
			}

			th {
				padding: 40px 0 10px;
				font-weight: bold;

				@include breakpoint-down(phone) {
					padding: 25px 0 5px 0;
				}
			}
		}
	}

	input[type="checkbox"] {
		margin-right: 5px;
	}

	input,
	select,
	textarea {
		appearance: none;
		align-items: center;
		justify-content: flex-start;
		background-color: #fbfbfb;
		border: 0;
		border-radius: 3px;
		box-shadow: none;
		height: 40px;
		font-size: 100%;
		line-height: 1.5;
		vertical-align: top;
		position: relative;
	}

	input,
	textarea {
		padding: 17px;
		border: 1px solid #cccccc;
		display: block;
	}

	textarea {
		width: 100%;
		height: 200px;
	}

	.select {
		border: 1px solid #cccccc;
		display: inline-block;
		position: relative;
		padding: 0 10px;

		select {
			min-width: 260px;
		}
	}
}
