.hero {
  &__content {
    overflow: hidden;
    position: relative;
    border-top: none;
  }

  &__image {
    background-color: rgba(0, 0, 0, 0.4);

    @include breakpoint-up(phone) {}

    a {
      padding-top: 0;
      display: block;
      position: relative;
      overflow: hidden;

      @include breakpoint-up(phone) {
        padding-top: 60%;

      }

      img {
        @include absCenter;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__body {}

  &__title {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 5px;
    line-height: 1.2;
  }

  &__time {
    position: absolute;
    top: 0;
    right: 5px;
  }


  .swiper-slide {
    height: auto;
    box-sizing: border-box;
    padding: 0 10px;
  }
  
  
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: hsla(0,0%,100%,.9);
    box-shadow:1px 4px 10px 0 rgba(42,44,50,.16);
    &::after {
      color: $cBlack;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  
}

