.p-mobile {
  &__menu {
    display: block;

    @include breakpoint-up(tab-port) {
      display: none;
    }
  }

  &__trigger {
    display: none;
  }

  &__trigger:checked~&__contents {
    transform: translateX(0);
  }

  &__btn {
    position: relative;
    z-index: 100000;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
  }

  &__contents {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: $cWhite;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(100vw);
    transition: transform 0.2s;
    height: 100%;
    z-index: 10000;
  }

  &__list {
    max-width: 200px;
    @include absCenter;
    color: inherit;
    list-style: none;
    text-align: justify;
  }

  &__item {
    padding: 2rem;
  }

  &__item:last-child a {
    color: $cGreen-2;
  }

  &__link {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: inherit;
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 30px;
      height: 1px;
      background: $cBlack;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: 10px;
    }

    &::after {
      top: -10px;
    }
  }

  &__trigger:checked+&__btn &__icon {
    background: transparent;
  }

  &__trigger:checked+&__btn &__icon::before {
    top: 0;
    transform: rotate(45deg);
    background: $cWhite;
  }

  &__trigger:checked+&__btn &__icon::after {
    top: 0;
    transform: rotate(-45deg);
    background: $cWhite;
  }
}
