.article-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint-up(tab-port) {
    flex-direction: row;
  }
  &__article {
    margin-top: 20px;
    flex-basis: 65%;
  }
  &__aside {
    // order: -10;
    flex-basis: 30%;
  }
}

.hero {
	padding-top: 40px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
	@include breakpoint-up(tab-port) {
		grid-template-columns: repeat(5,1fr);
	}
}

.sidebar-content {
	padding-top: 40px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}



.article {
	.article_header {}

	.article_title {
		text-align: center;
		font-size: 2.8rem
	}

	.article_meta {
    max-width: 220px;
		display: flex;
		padding: 30px 0;
		align-items: center;
		justify-content: space-between;

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;

			li {
				padding-right: 10px;

				a {
					line-height: 1;
					display: inline-block;
					padding: 5px 10px;
					font-size:1.4rem;
					border: 1px solid #eee;
					color: $cBgBlack;
					background: $cBgGray;
					text-decoration: none;
				}
			}
		}

		time {
			margin-left: auto;
			font-size:1.4rem;
		}
	}

	.article_labels {
		li {}
	}

	.article_body {
    .content {
  display: flex;
  flex-direction: column;
}
  }

	.article_content {}

	.article_pic {
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.article-menu {
	.article_title {
		text-align: left;
		margin-bottom: 30px;
	}
}
