.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint-up(tab-port) {
    flex-direction: row;
  }

  &__article {
    padding-bottom: 50px;
    flex-basis: 55%;
    @include breakpoint-up(tab-port) {
      padding-bottom: 200px;
    }
    @include breakpoint-up(tab-land) {
      flex-basis: 65%;
    }
  }

  &__aside {
    padding: 5px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.hero {
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);

  @include breakpoint-up(phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-up(tab-port) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.sidebar-content {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}


.pickup-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
