.pickup {
	padding: 10px 10px 0;
	background: white;
	// width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// display: grid;
	// grid-gap: 10px;
	// grid-template-columns: repeat(1, 1fr);	
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	@include breakpoint-up(phone) {
		// grid-template-columns: repeat(2, 1fr);
	}

	&__item {
		flex-basis: calc((100% - 2 * 5px) / 2);
		margin-bottom: 10px;
		overflow:	hidden;
		position: relative;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
		border-top: none;
	}

	&__image {
		a {
			display: block;
			position: relative;
			padding-top: 60%;
			overflow: hidden;
			img {
				@include absCenter;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	&__body {
		// padding-bottom: 30px;
	}

	&__title {
		font-size: 1.6rem;
		padding: 10px;
		line-height: 1.2;
	}



	&__meta {
		color: $cWhite;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		list-style: none;
		background: $cBgBlack;

			li {
				padding: 5px 8px;
				color: $cWhite;
				span {
					font-size: 1.2rem;
				}
			}
	}

	&__title {

	}
}




.pickup .pickup__item:nth-child(1) .pickup__image>a:first-child::before {
  color: $cGreen-1;
}
.pickup .pickup__item:nth-child(2) .pickup__image>a:first-child::before {
  color: $cBlue-1;
}
.pickup .pickup__item:nth-child(3) .pickup__image>a:first-child::before {
  color: $cOrange;
}

.pickup .pickup__item .pickup__image>a:first-child::before {
  position: absolute;
  content: '■';
  font-size: 125px;
  top: -110px;
  left: -65px;
  transform: rotate(45deg);
  z-index: 2;
}

.pickup .pickup__item:nth-child(1) .pickup__image>a:first-child::after {
  content: '1';
}
.pickup .pickup__item:nth-child(2) .pickup__image>a:first-child::after {
  content: '2';
}
.pickup .pickup__item:nth-child(3) .pickup__image>a:first-child::after {
  content: '3';
}
.pickup .pickup__item:nth-child(4) .pickup__image>a:first-child::after {
  content: '4';
}

.pickup .pickup__item .pickup__image>a:first-child::after {
  position: absolute;
  top: 2px;
  left: 9px;
  color: #ffffff;
  z-index: 3;
}
