.accordion {
  color: $cWhite;
  background: $cBgBlack;
  border-bottom: 2px solid $cWhite;
}

.toggle {
  position: relative;
  color: $cWhite;
  display: block;
  padding: 10px;
  cursor: pointer;
}

.toggle i {
  position: absolute;
  right: 15px;
  top: 30%;
  font-size: 1.5em;
}


.accordion-body {
  overflow: hidden;
  transition: .3s ease-in-out;
}


.details {
  color: $cWhite;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid $cWhite;
  list-style: none;
    li {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
      a {
        color: $cWhite;
      }
    }
}

.rotation-enter,
.rotation-leave-to {
  transform: rotateX(180deg)
}
