.pickup {
	width: 100%;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;

	&__item {
		overflow:	hidden;
		position: relative;
		border: 2px solid #eee;
		border-top: none;
	}

	&__image {
		a {
			display: block;
			position: relative;
			padding-top: 60%;
			overflow: hidden;
			img {
				@include absCenter;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	&__body {
		// padding-bottom: 30px;
	}

	&__title {
		font-size: 1.6rem;
		padding: 10px;
		line-height: 1.2;
	}



	&__meta {
		color: $cWhite;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		list-style: none;
		background: $cBgBlack;

			li {
				padding: 5px 8px;
				color: $cWhite;
				span {
					font-size: 1.2rem;
				}
			}
	}

	&__title {

	}
}
